# Advanced Querying Mongo

Importing libraries and setting up connection

In [8]:
# from pymongo import MongoClient
# client = MongoClient("")
from pymongo import MongoClient

client = MongoClient("mongodb://localhost/companies")
db = client.get_database()

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [28]:
# Your Code

list(db.companies.find({"name":'Babelgum'},{"name":1}))

[{'_id': ObjectId('52cdef7c4bab8bd675297da0'), 'name': 'Babelgum'}]

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [229]:
# Your Code
db.companies.find({"number_of_employees":{ '$gt': 5000 }},{"name":1}).sort('number_of_employees').limit(20).count()

<ipython-input-229-5deee9501da3>:2: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  db.companies.find({"number_of_employees":{ '$gt': 5000 }},{"name":1}).sort('number_of_employees').limit(20).count()

109

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [228]:
# Your Code
db.companies.find( { 'founded_year': { '$in': [ year for year in range(2000,2006) ] }},{"name":1,'founded_year':1}).count()

<ipython-input-228-e958826e1808>:2: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  db.companies.find( { 'founded_year': { '$in': [ 2000,2001,2002,2003,2004, 2005 ] }},{"name":1,'founded_year':1}).count()

3734

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [227]:
# Your Code


db.companies.find ( {'$and':[{ 'total_money_raised': { '$gt': "$100.0M" }} ,  {'founded_year': {'$lt': 2010 } }]},{'name':1,'ipo':1}).count()

<ipython-input-227-5f117c4fc891>:4: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  db.companies.find ( {'$and':[{ 'total_money_raised': { '$gt': "$100.0M" }} ,  {'founded_year': {'$lt': 2010 } }]},{'name':1,'ipo':1}).count()

3727

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [131]:
# Your Code
from pymongo import ASCENDING, DESCENDING


list(db.companies.find({ "$and": [ { "number_of_employees": {"$lt":1000} },{ "founded_year": { "$lt": 2005 }}]}, 
{"name":1,"number_of_employees":1,"founded_year":1,"_id":0}).sort([
('number_of_employees', DESCENDING)
]).limit(10))

[{'name': 'Infinera Corporation',
  'number_of_employees': 974,
  'founded_year': 2000},
 {'name': 'NorthPoint Communications Group',
  'number_of_employees': 948,
  'founded_year': 1997},
 {'name': '888 Holdings', 'number_of_employees': 931, 'founded_year': 1997},
 {'name': 'Forrester Research',
  'number_of_employees': 903,
  'founded_year': 1983},
 {'name': 'SonicWALL', 'number_of_employees': 900, 'founded_year': 1991},
 {'name': 'Webmetrics', 'number_of_employees': 900, 'founded_year': 1999},
 {'name': 'Cornerstone OnDemand',
  'number_of_employees': 881,
  'founded_year': 1999},
 {'name': 'Yelp', 'number_of_employees': 800, 'founded_year': 2004},
 {'name': 'ZoomInfo', 'number_of_employees': 800, 'founded_year': 2000},
 {'name': 'MySpace', 'number_of_employees': 800, 'founded_year': 2003}]

### 6. All the companies that don't include the `partners` field.

In [130]:
# Your Code
#list(db.companies.find({ '$ne': 'partners' }  ))

list(db.companies.find({"category_code": { "$type": "null"}},{"name":1,"category_code":1, "_id":0}).limit(10))

[{'name': 'Collective', 'category_code': None},
 {'name': 'KoolIM', 'category_code': None},
 {'name': 'Snimmer', 'category_code': None},
 {'name': 'Level9 Media', 'category_code': None},
 {'name': 'VidKing', 'category_code': None},
 {'name': 'Drigg', 'category_code': None},
 {'name': 'SpaceTime', 'category_code': None},
 {'name': 'Touch Clarity', 'category_code': None},
 {'name': 'Inside Group', 'category_code': None},
 {'name': 'MMDAYS', 'category_code': None}]

### 7. All the companies that have a null type of value on the `category_code` field.

In [225]:
# Your Code

db.companies.find({ 'category_code': { '$exists':  'null' } } ).count()

<ipython-input-225-7079a09fd275>:3: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  db.companies.find({ 'category_code': { '$exists':  'null' } } ).count()

18801

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [218]:
# NO entiendo este error: TypeError: string indices must be integers

# Your Code
list(db.companies.find ( {'$and' [{ 'number_of_employees': { '$lt': 100 }} ,  {'number_of_employees': {'$gte': 1000 } }]},
                             {'name':1,'number_of_employees':1,'_id':0}))

<>:2: SyntaxWarning: str indices must be integers or slices, not tuple; perhaps you missed a comma?
<>:2: SyntaxWarning: str indices must be integers or slices, not tuple; perhaps you missed a comma?
<ipython-input-218-d70b5de53376>:2: SyntaxWarning: str indices must be integers or slices, not tuple; perhaps you missed a comma?
  list(db.companies.find ( {'$and' [{ 'number_of_employees': { '$lt': 100 }} ,  {'number_of_employees': {'$gte': 1000 } }]},

TypeError: string indices must be integers

### 9. Order all the companies by their IPO price in a descending order.

In [213]:
# Your Code

list(db.companies.find ({'ipo':{'$type':'null'}},{'name':1,'_id':0}).sort([('ipo', DESCENDING)]).limit(10))

[{'name': 'Digg'},
 {'name': 'Postini'},
 {'name': 'Flektor'},
 {'name': 'Geni'},
 {'name': 'Omnidrive'},
 {'name': 'Fox Interactive Media'},
 {'name': 'StumbleUpon'},
 {'name': 'Gizmoz'},
 {'name': 'Scribd'},
 {'name': 'Slacker'}]

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [212]:
# Your Code


db.companies.find ({'number_of_employees':{'$gte':1}}).sort([('number_of_employees',ASCENDING)]).limit(10)

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [208]:
# Your Code


db.companies.find ( {'$and':[{ 'founded_month': { '$gt': 6 }} ,{  'founded_month': {'$lt': 12 } }]},
                   {'name':1,'number_of_employees':1}).limit(1000)

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [135]:
# Your Code
list(db.companies.find({ "$and": [ { "acquisition.price_amount": {"$gte":1000000} },{ "founded_year": { "$lt": 2000 }}]}, 
{"name":1,"acquisition.price_amount":1,"founded_year":1,"_id":0}).limit(5))

[{'name': 'Postini',
  'founded_year': 1999,
  'acquisition': {'price_amount': 625000000}},
 {'name': 'SideStep',
  'founded_year': 1999,
  'acquisition': {'price_amount': 180000000}},
 {'name': 'Recipezaar',
  'founded_year': 1999,
  'acquisition': {'price_amount': 25000000}},
 {'name': 'Cyworld',
  'founded_year': 1999,
  'acquisition': {'price_amount': 7140000}},
 {'name': 'PayPal',
  'founded_year': 1998,
  'acquisition': {'price_amount': 1500000000}}]

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [207]:
# Your Code

list(db.companies.find({"$and":[{"founded_year":{"$gte": 2010}},{"acquisition.price_amount": {"$gte":0}}]}, 
{"name":1,"acquisition":1,"_id":0}).limit(10))

[{'name': 'Magento',
  'acquisition': {'price_amount': 180000000,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2011/06/23/ebay-acquired-magento-for-over-180-million-but-not-everyone-is-smiling/',
   'source_description': 'eBay Acquired Magento For Over $180 Million â€“ But Not Everyone Is Smiling',
   'acquired_year': 2011,
   'acquired_month': 6,
   'acquired_day': 6,
   'acquiring_company': {'name': 'eBay', 'permalink': 'ebay'}}}]

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [206]:
# Your Code
list(db.companies.find({'founded_year':{"$gt":0}},
                  {'name':1,'founded_year':1,"_id":0}).limit(10))

[{'name': 'AdventNet', 'founded_year': 1996},
 {'name': 'Wetpaint', 'founded_year': 2005},
 {'name': 'Zoho', 'founded_year': 2005},
 {'name': 'Digg', 'founded_year': 2004},
 {'name': 'Postini', 'founded_year': 1999},
 {'name': 'Geni', 'founded_year': 2006},
 {'name': 'Omnidrive', 'founded_year': 2005},
 {'name': 'Fox Interactive Media', 'founded_year': 1979},
 {'name': 'StumbleUpon', 'founded_year': 2002},
 {'name': 'Gizmoz', 'founded_year': 2003}]

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [203]:
# Your Code
list(db.companies.find({'founded_day':{'$lte':7}},
                  {'name':1,'founded_day':1,"_id":0}).sort([('acquisition.price_amount',DESCENDING)]).limit(10))

[{'name': 'Netscape', 'founded_day': 4},
 {'name': 'PayPal', 'founded_day': 1},
 {'name': 'Zappos', 'founded_day': 1},
 {'name': 'Alibaba', 'founded_day': 1},
 {'name': 'Postini', 'founded_day': 2},
 {'name': 'Danger', 'founded_day': 1},
 {'name': 'Clearwell Systems', 'founded_day': 6},
 {'name': 'PrimeSense', 'founded_day': 1},
 {'name': 'Amobee', 'founded_day': 1},
 {'name': 'BlueLithium', 'founded_day': 1}]

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [201]:
# Your Code

list(db.companies.find({'$and':[{'category_code':{'$eq':'web'}},{'number_of_employees':{'$gt':4000}}]},
                           {'name':1,"_id":0}).sort([('number_of_employees', ASCENDING)]))

[{'name': 'Expedia'},
 {'name': 'AOL'},
 {'name': 'Webkinz'},
 {'name': 'Rakuten'},
 {'name': 'Los Angeles Times Media Group'},
 {'name': 'Groupon'},
 {'name': 'Yahoo!'},
 {'name': 'eBay'},
 {'name': 'Experian'}]

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [196]:
# Your Code

list(db.companies.find({'$and': [{'acquisition.price_amount':{'$gt':10000000}},{'acquisition.price_currency_code':{'$eq':'EUR'}}]},
                       {"name":1,"acquisition.price_amount":1,"acquisition.price_currency_code":1,"_id":0}).limit(10))

[{'name': 'ZYB',
  'acquisition': {'price_amount': 31500000, 'price_currency_code': 'EUR'}},
 {'name': 'Apertio',
  'acquisition': {'price_amount': 140000000, 'price_currency_code': 'EUR'}},
 {'name': 'Greenfield Online',
  'acquisition': {'price_amount': 40000000, 'price_currency_code': 'EUR'}},
 {'name': 'Webedia',
  'acquisition': {'price_amount': 70000000, 'price_currency_code': 'EUR'}},
 {'name': 'Wayfinder',
  'acquisition': {'price_amount': 24000000, 'price_currency_code': 'EUR'}},
 {'name': 'Tuenti Technologies',
  'acquisition': {'price_amount': 70000000, 'price_currency_code': 'EUR'}},
 {'name': 'BioMed Central',
  'acquisition': {'price_amount': 43400000, 'price_currency_code': 'EUR'}}]

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [200]:
# Your Code

list(db.companies.find({'acquisition.acquired_month':{'$in':[1,2,3]}},
                       {'name':1,'acquisition.acquired_month':1,"_id":0}).limit(10))

[{'name': 'Kyte', 'acquisition': {'acquired_month': 1}},
 {'name': 'NetRatings', 'acquisition': {'acquired_month': 2}},
 {'name': 'blogTV', 'acquisition': {'acquired_month': 3}},
 {'name': 'Livestream', 'acquisition': {'acquired_month': 1}},
 {'name': 'iContact', 'acquisition': {'acquired_month': 2}},
 {'name': 'Coghead', 'acquisition': {'acquired_month': 2}},
 {'name': 'Dailymotion', 'acquisition': {'acquired_month': 2}},
 {'name': 'Netvibes', 'acquisition': {'acquired_month': 2}},
 {'name': 'Flickr', 'acquisition': {'acquired_month': 3}},
 {'name': 'BabyCenter', 'acquisition': {'acquired_month': 3}}]

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [244]:
# Your Code

list(db.companies.find({'$and': [{'founded_year':{'$in':[year for year in range(2000,2011)]}},{'acquisition.acquired_year':{'$lt':2000}}]},
                                 {'name':1,'founded_year':1,'acquisition.acquired_year':1,'_id':0}))

[{'name': 'Modern Feed',
  'founded_year': 2007,
  'acquisition': {'acquired_year': 1987}},
 {'name': 'inTALK',
  'founded_year': 2007,
  'acquisition': {'acquired_year': 1999}},
 {'name': 'Tuenti Technologies',
  'founded_year': 2006,
  'acquisition': {'acquired_year': 1974}}]

### 20. All the companies that have been 'deadpooled' after the third year.

In [ ]:
# Your Code